<div class="bg-1">
  <div class="index-txt head-format">
    <h1>Welcome To The Learner's Guild</h1>
    <h1>A Place Where Anything Is Possible</h1>
  </div>

  <div class="row index-txt second-head-format">
    <div class="col-md-3">
      <h2 class="learn">Learn</h2>
    </div>
    <div class="col-md-3">
      <h2 class="meet">Meet</h2>
    </div>
    <div class="col-md-3">
      <h2 class="teach">Teach</h2>
    </div>
    <div class="col-md-3">
      <h2 class="grow">Grow</h2>
    </div>
  </div>
</div>

<div class="welcome">
  <%= image_tag "index-bg-1.jpg", class: "index-img" %>
</div>

<div class="bg-2">
</div>
