<div class="page-header">
  <h1>Matched Users Who Know <%= @skill.name %></h1>
</div>
<% @matched_skills.each do |matched_skill| %>
  <% @matched_users.where(id: matched_skill.user_id).each do |matched_user| %>
    <% if matched_user.image.present? %>
      <%= image_tag matched_user.image.url(:med) %>
    <% end %>
    <p><%= link_to matched_user.full_name, user_path(matched_user) %> knows <%= matched_skill.skill.name %></p>
    <p><div class="btn btn-primary">Propose Meetup</div></p>
  <% end %>
<% end %>
