/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 70px; padding-bottom: 30px; margin-left: 30px; margin-right:30px;
 }

 .navbar {
   background-color: #484848;
 }

  .bg-1 {
    position:absolute; left: 0; right:0; top:0;
    height: 500px;
    width: auto;
    background-color: black;
    color: white;
  }

  .welcome {
    position:absolute; left: 0; right:0; top:500px;
    height: 400px;
    width: auto;
  }

  .index-img {
    height: 400px;
    width: 100%;
  }

  .bg-2 {
    position:absolute; left: 0; right:0; top:900px;
    height: 500px;
    width: auto;
    background-color: black;
    color: white;
  }

  .txt {
    position: relative;
    top: 20%;
    text-align: center;
    font-family: fantasy;
  }
